header,nav,section,article,aside,footer,time{
	display:block;
}
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
html{
	height:100%;
}
body{
	min-height:100%;
	min-width:1020px;
	font-size:100%;
	background:#fff;
	color:#000;
	position:relative;
	font-family: 'Open Sans', sans-serif;
}
img{
	max-width: 100%;
	border:0;
}
ul li {
	display: inline-block;
}
input,textarea,select{
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-style: inherit;
	color: inherit;
}

/* helping adds*/
.clearfix:before,
.clearfix:after {
	display: table;
	line-height: 0;
	content: '';
}
.clearfix:after {
	clear: both;
}
.clear {
	clear:both;
	font-size:1px;
	line-height:1px;
	height:0;
	overflow:hidden;
}
.juster {
	display:inline-block;
	width:100%;
	height:0;
	overflow:hidden;
}
.vfix:before {
	content:"";
	height:100%;
	width:0;
	display:inline-block;
	vertical-align:middle;
}

/* /helping adds*/

/* fonts */

/* /fonts */


/* button styles*/
.btn {
	display: inline-block;
	padding: 20px;
	font-size: 15px;
	background: #26a6d1;
	color: #ffffff;
	text-decoration: none;
	border-radius: 15px;
}

.btn_login {
	padding: 14px 30px;
	background: #bcda5c;
	font-size: 13px;
	text-transform: uppercase;
	color: #ffffff;
	border-radius: 200px;
}

.btn_lime {
	background: #add136;
}
.btn_transp {
	background: transparent;
	color: #838383;
	border: 1px solid #838383;
}
.btn_big {
	padding: 25px 50px;
	font-size: 20px;
	background: #99c50a;
}
.button {
	padding: 25px 5px;
}
/* /button styles */


/* icons styling*/
/* /icons styling*/


/* links styling*/
a{
text-decoration: none;
	color: inherit;
}
a:hover{
}
/* /links styling*/


.resize{
	width: 1020px;
	margin: 0 auto;
	position: relative;
	display: block;
}

/*colum*/
.col {
	float: left;
}

.col-right{
	float: right;
}
.col_18pct {
	width: 18%;
}
.col_33pct {
	width: 33.33%;
	padding: 0 20px;
}
.col_40pct{
	width: 40%;
}
.col_50pct {
	width: 50%;
}
.col_60pct {
	width: 60%;
}
 /*/column*/


 /*header*/
.header__top{
	padding: 30px 0 40px 0;
	vertical-align: middle;
}
.header__item-logo{
	position: relative;
	display: inline-block;
	color: #6d6e70;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 0.7;
	margin-left: 55px;
	vertical-align: bottom;
}
.dot-logo {
	position: absolute;
	bottom: 22px;
	left: -55px;
	background-color: #8fc63d;
	width: 7px;
	height: 7px;
	border-radius: 3.5px;
}
.smalline-logo{
	position: absolute;
	bottom: 0;
	left: -55px;
	background-color: #8fc63d;
	width: 7px;
	height: 20px;
	border-radius: 3.5px;	
}
.longline-logo{
	position: absolute;
	bottom: 0;
	left: -42px;
	background-color: #8fc63d;
	width: 7px;
	height: 36px;
	border-radius: 3.5px;
}
.middleline-logo{
	position: absolute;
	bottom: 0;
	left: -29px;
	background-color: #8fc63d;
	width: 7px;
	height: 29px;
	border-radius: 3.5px;
}
.wraplogin{
	float: right;
}
.header__item-menu{
	text-align: center;
	margin: 0 auto;
}
.header__item-menu a{
	display: block;
	padding: 0 12px 0 12px;
	color: #a2a2a2;
	text-transform: uppercase;
	font-size: 12px;
}
/*/header*/ 

/*slider*/

.slider{
	background: url(../images/bg.png) 100% 100% no-repeat;
	background-size: cover;
	padding: 172px 0 167px 0;
	position: relative;
	text-align: center;
}
.slider-content:after{
	content: " ";
	position: absolute;
	width: 70px;
	height: 50px;
	right: 150px;
	bottom: 30px;
	background: url(../images/brackets.png) bottom right no-repeat;
}
.slider-title{
	/*width: 800px;*/
	margin: 0 auto;
	padding: 40px 0;
	color: white;
	font-size: 49px;
}
.slider-content small{
	display: block;
}
.slider-btn{
	font-size: 19px;
	color: white;
	margin: 0 auto;
	background: #99c50a;
	border-radius: 15px;
	width: 255px;
	height: 73px;
	padding: 22px 0;
}
/*promo-info*/
.promo-info{
	padding: 85px 0;
	text-align: center;
}
.promo-img{
	margin: 0 auto;
}
.promo-title{
	font-size: 37px;

	margin: 0 auto;
	padding: 50px 0;
	color: #515151;
	line-height: 45px;
}
.promo-text p{
	color: #515151;
	font-size: 19px;
	padding: 20px 40px;
	line-height: 24px;
}
/*preference*/

.preference-menu  {
	text-align: justify;
	border-bottom: 1px solid #e6e6e6;
}
.preference__name {
	padding: 32px 20px 32px 5px ;
}
.number {
	color: white;
	background-color: #5f5f5f;
	width: 44px;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	line-height: 2.4em;
	font-size: 20px;
}
.number:hover{
	background-color: #add136;
}
.preference__name:hover{
	border-bottom: 1px solid #add136;
}
.is_active .preference__name {
	border-bottom: 1px solid #add136;
}
.is_active .number {
	background-color: #add136;
}
.title {
	font-size: 33px;
	color: #5f5f5f;
	vertical-align: middle;
	padding-left: 30px;
}

.preference-item {
	padding: 50px 20px 85px 0;
}
.preference-item p {
	padding: 15px 0;
}
.description__title {
	color: #add136;
	font-size: 25px;
	/*text-align: center;*/
}
.description__text {
	font-size: 17px;
	color: #656565;
}
.preference-description {
	padding-left: 305px;
	display: none;
}
.preference-description_first {
	background: url("../images/icon_glasses.png") no-repeat 10% center;
}
.preference-description_second {
	background: url("../images/icon_search-glass.png") no-repeat 10% center;
}
.preference-description_fhird {
	background: url("../images/icon_collaborative.png") no-repeat 10% center;
}
.preference-description.is_active {
	display: inline-block;
}
/*service*/
.service{
	background: linear-gradient(90deg, #e2f8ff 50%, #f5f9eb 50%);
	margin-bottom: 75px;
}
.service__left{
	padding: 45px 60px 45px 180px;
	background: url(../images/icon_properties.png) no-repeat left center;
}

.service__right{
	padding: 45px 0 45px 240px;
	background: url(../images/icon_wallet.png) no-repeat 15% center;
}
.service-title{
	font-family: montserrat, sans-serif;
	font-size: 23.2px;
	margin-bottom: 30px;
}
.service-text{
	font-family: opensans, sans-serif;
	font-size: 17.2px;
	margin-bottom: 30px;
	line-height: 26px;
}
/* /service*/
/*catalog*/
.catalog{
	margin-bottom: 75px;
}
.catalog__top{
	padding: 0 20px;
	position: relative;
	margin-bottom: 60px;
}
.catalog-btn{
	position: absolute;
	top: 50%;
	right: 20px;
	margin-top: -30px;
}
.catalog-btn .btn{

}
.catalog-btn{

}
.catalog-info{
	width: 65%;
	font-family: opensans, sans-serif;

}
.catalog-title{
	font-size: 29.2px;
	margin-bottom: 25px;
}
.catalog-text{
	font-size: 17.2px;
	line-height: 26px;
}
.product-item{
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;
	border-radius: 7px;
	position: relative;
}
.product-img{
	overflow: hidden;
}
.product-img img{
	width: 100%;
	border-radius: 7px 7px 0 0;
}
.label_new{
	position: absolute;
	top: 0;
	border-width: 35px;
	border-style: solid;
	border-color: #add136 transparent transparent #add136;
	border-radius: 10px 0 0 0;
}
.label_new:before{
	position: absolute;
	content: "new";
	text-transform: uppercase;
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	color: white;
	top: 50%;
	margin-top: -20px;
	left: -30px;
}
.price {
	position: absolute;
	background: #26a6d1;
	font-size: 16px;
	line-height: 2em;
	width: 140px;
	border-radius: 10px;
	top: 32%;
	right: 5%;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: white;
}
.product-info{
	padding: 25px 20px;
	font-family: opensans, sans-serif;
}
.product-title{
	font-size: 17.2px;
	font-weight: bold;
	margin-bottom: 15px;
}
.product-description{
	font-size: 13.2px;
	line-height: 24px;
	margin-bottom: 15px;
}
/*.product-rate{*/
	/*padding-bottom: 15px;*/
	/*border-bottom: 1px solid #d6d6d6;*/
	/*margin-bottom: 20px;*/
/*}*/
/*.progress-bar{*/
	/*height: 15px;*/
	/*background: linear-gradient(90deg, #add136 20%, #e3e3e3 20%);*/
	/*margin-bottom: 15px;*/
	/*border-radius: 10px;*/
/*}*/
/*.rate-info{*/
	/*font-size: 13.2px;*/
/*}*/
/*.percents{*/
	/*float: left;*/
/*}*/
/*.days{*/
	/*float: right;*/
/*}*/


.loading {
	padding: 25px 0 5px 0;
}
.loading__panel {
	min-height: 15px;
	border-radius: 10px;
	background: #e3e3e3;
}
.fund {
	min-height: 15px;
	border-radius: 10px;
	background: #add136;
	margin-top: -15px;
}
.fund_10pct{
	width:10%
}

.loading__info{
	padding: 15px 0;
}
.pct {
	text-align: left;
	display: block;
	padding-right: 15px;
	float: left;
}
.days{
	text-align: right;
	display: block;
}

.product-more{
	position: relative;
	text-align: right;
	/*font-family: 'Times New Roman', sans-serif;*/
	font-size: 13.2px;
}
.more-link{

}
.more-link:after{
	vertical-align: super;
	font-size: 0;
	margin-left: 10px;
	content: "";
	border-width: 10px 15px;
	border-style: solid;
	border-color: transparent transparent transparent #add136;
}
/* /catalog*/

/*section reviews*/

.reviews{
	background-image: url(../images/bg-1.png);
	background-position: bottom;
}
.review__title{
	font-size: 37px;
	color: #9ec02d;
	text-align: center;
	margin-bottom: 50px;
}

.review__description{
	font-size: 19px;
	color: #949494;
	text-align: center;
	margin-bottom: 100px;
	line-height: 2;
}


.wrap-reviews__content{
	width: 40%;
	margin: 0 30px;
}

.review-item{
	background: #ffffff;
	border-radius: 9px;
	margin-bottom: 34px;
	position: relative;
}

.review-item:after{
	content: "";
	position: absolute;
	left: 20%;
	bottom: -20px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 23px 0 0;
	border-color: #ffffff transparent transparent transparent;
}

.review__title_content{	
	font-size: 25px;
	padding: 22px 5px 7px 5px;
	margin: 0;
}

.review__description_content{
	font-size: 13px;
	margin: 0;
	padding: 5px 30px 15px 30px; 
}

.review-author{
	color:#494949;
	margin: 5px 17px 5px 13%;
}

.review-author img{
	display: inline-block;
	width:60px;
	height: 60px;
	border-radius: 10px;
	margin-right: 17px;
}

.review-author p{
	font-size: 15px;
	font-weight: bold;
	display: inline-block;
	height: 60px;
	vertical-align: middle;
	margin-top: 0;
}
.partners {
	padding: 25px 0;
}

.copyright{
	text-align: center;
	font-size: 13px;
	padding: 25px;
}

